<div class="container-fluid head_section">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h5 class="title">Think you can code? Prove it!</h5>
			<h3 class="title_sub">Take one of our free, online assesments today</h3>
		</div>
	</div>
</div>
<div class="container-fluid spacer_home_page">
	<div class="row">
		<a href="/tests">
			<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 home_page_section">
				<div class="col-sm-4 col-xs-12">
					<%= image_tag "html.jpg", class: 'home_page_images' %>
				</div>
				<div class="col-sm-8 col-xs-12 home_page_description">
					<h3>HTML Test</h3>
					<h5>Think you are an HTML wiz? Put your skills to the test with our free, online assessment.</h5>
				</div>
			</div>
		</a>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 home_page_section">
			<div class="col-sm-4 col-xs-12">
				<%= image_tag "html.jpg", class: 'home_page_images' %>
			</div>
			<div class="col-sm-8 col-xs-12 home_page_description">
				<h3>CSS Test</h3>
				<h5>Are you a CSS guru? See how your talents rank with our free, online CSS test.</h5>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 home_page_section">
			<div class="col-sm-4 col-xs-12">
				<%= image_tag "html.jpg", class: 'home_page_images' %>
			</div>
			<div class="col-sm-8 col-xs-12 home_page_description">
				<h3>JavaScript Test</h3>
				<h5>Is javascript like second nature to you? Take our free, online javascript test to assess your skills.</h5>
			</div>
		</div>
	</div>
</div>