<div id="head_section" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h5 class="title2">Results</h5>
		</div>
	</div>
</div>

<div class="container-fluid background-white">
	<div class="row">
		<div class="col-sm-8 col-sm-push-2 top_section text-center">	
			<h4>Your final score was <%= @test.score %>/5. 
				<% if @test.score < 5 %>
					Practice makes perfect!

				<% else %>
					That's perfect! Good job!
					<%= image_tag "trophy.png", class:'trophy' %>
				<% end %>
			</h4>
				<br />
				<br />
				<%= link_to "Finish", tests_path, class: "btn btn-success text-center" %> 
		</div>
	</div>
</div>
